<h1>Log your new run here</h1>

<form action='/runs' method="POST">
    Date: <input type=date name="date">
    Distance: <input type=number name="distance">
    Duration: <input type=time name="duration">
    <input type=submit>
</form>