<h1>Log your new run here</h1>

<form action='/runs' method="POST">
    Date: <input type=date name="date"><br><br>
    Distance(miles): <input type=decimal name="distance"><br><br>
    Duration(hh:mm:ss): <input type=time name="duration"><br><br>
    <input type=submit>
</form>